extends layout

block content
	#wrapper
		header#header
			.logo
				span.icon.fa-gem
			.content
				.inner
					h1 #{title}
					p Selamat Datang di CV Muhammad Dzakiy
			nav
				ul
					li
						a(href='#about') Tentang Saya
					li
						a(href='#education') Pendidikan
					li
						a(href='#experience') Pengalaman Kerja
					li
						a(href='#contact') Kontak
		#main
			// About
			article#about
				h2.major Tentang Saya
				span.image.main
					img(src='images/foto_profile_dzakiy.jpg', alt='Photo Profile')
				p
					| Hallo nama saya Muhammad Dzakiy. Panggilan saya Zaki. Saya bekerja sebagai BLU di UT sejak Tahun 2017.
					| Saat ini saya bekerja di Unit UPT-TIK Kantor UT Pusat di Pondok Cabe.
				p

				.table-wrapper
					table
						tbody
							tr
								td Nama Lengkap
								td :
								td Muhammad Dzakiy
							tr
								td Umur
								td :
								td 27 Tahun
							tr
								td Alamat
								td :
								td Reni Jaya, Pamulang, Tangerang Selatan
							tr
								td Email
								td :
								td mdzaky93@gmail.com

			article#education
				h2.major Pendidikan
				ul.alt
					li
						h4 STMIK Jakarta
						| 											S1 - Sistem Informasi 
						br
						| 											2011 - 2016

			article#experience
				h2.major Pengelaman Kerja
				ul.alt
					li
						h4 Staf ICT
						| 											Universitas Terbuka 
						br
						| 											Januari 2017 - Sekarang (Lebih kurang 3 Tahun)

			article#contact
				h2.major Kontak
				form(method='post', action='#')
					.fields
						.field.half
							label(for='name') Name
							input#name(type='text', name='name')
						.field.half
							label(for='email') Email
							input#email(type='text', name='email')
						.field
							label(for='message') Message
							textarea#message(name='message', rows='4')
					ul.actions
						li
							input.primary(type='submit', value='Send Message')
						li
							input(type='reset', value='Reset')
				ul.icons
					li
						a.icon.brands.fa-github(href='github.com/mdzaky93/')
							span.label GitHub

